<div class="container">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutGap="50px">
        <div fxLayout="row"  fxLayoutAlign="space-between">
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-label>
                    <b>No:</b>
                </mat-label>
                <span>{{ detalhesContrato[0] }}</span>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-label>
                    <b>Nome paciente:</b>
                </mat-label>
                <span>{{ detalhesContrato[1] }}</span>
            </div>
            <div *ngIf="planoDisable === true">
                <app-form-campos-ocultos
                    fxLayout="row"
                    fxLayoutGap="150px"
                    [formCampos]="formOculto"
                ></app-form-campos-ocultos>
            </div>
            <mat-form-field *ngIf="planoDisable === false" fxFlex="1 1 25%">
                <mat-label>Tipo do Plano</mat-label>
                <mat-select
                    formControlName="tipoContrato"
                    #fontSize
                    value="16px"
                    [disabled]="planoDisable"
                >
                    <mat-option
                        *ngFor="let plano of tipoPlano | keyvalue"
                        [value]="plano.value"
                        >{{ plano.key }}</mat-option
                    >
                </mat-select>
                <mat-error *ngIf="hasError('tipoContrato', 'required')"
                    >Campo não preenchido</mat-error
                >
            </mat-form-field>
            <mat-form-field *ngIf="planoDisable === false" fxFlex="1 1 25%">
                <mat-label>Serviço</mat-label>
                <mat-select
                    formControlName="servico"
                    #fontSize
                    value="16px"
                    [disabled]="servicoDisable"
                    (blur)="valorSessao($event)"
                >
                    <mat-option
                        *ngFor="let service of services"
                        [value]="service.servico"
                        >{{ service.servico }}</mat-option
                    >
                </mat-select>
                <mat-error *ngIf="hasError('servico', 'required')"
                    >Campo não preenchido</mat-error
                >
            </mat-form-field>
        </div>
        <div fxLayout="row"  fxLayoutAlign="space-between">
            <mat-form-field fxFlex="1 1 25%">
                <input
                    formControlName="horarioEntrada"
                    matInput
                    required
                    (blur)="calcularTempoSessao($event)"
                    placeholder="Horario de entrada padrão"
                    type="time"
                />
                <mat-error *ngIf="hasError('horarioEntrada', 'required')"
                    >Campo não preenchido</mat-error
                >
            </mat-form-field>
            <mat-form-field fxFlex="1 1 25%">
                <input
                    formControlName="sessao"
                    matInput
                    required
                    (blur)="calcularTempoSessao($event)"
                    (blur)="calcularValorTotal()"
                    placeholder="Número de sessao"
                    type="number"
                />
                <mat-error *ngIf="hasError('sessao', 'required')"
                    >Campo não preenchido</mat-error
                >
            </mat-form-field>
                <mat-form-field fxFlex="1 1 25%">
                    <input
                        formControlName="horarioSaida"
                        matInput
                        required
                        (blur)="calcularValorTotal()"
                        placeholder="Horario de saída"
                        type="time"
                    />
                    <mat-error *ngIf="hasError('sessao', 'required')"
                        >Campo não preenchido</mat-error
                    >
                </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="column">
                <h3>Dias da semana:</h3>
                <div fxLayout="column" *ngFor="let dias of checkBox">
                    <mat-checkbox
                        (change)="changeCkeckBox($event)"
                        [id]="dias.id"
                        [name]="dias.name"
                        [checked]="dias.checked"
                        color="primary"
                        [value]="dias.value"
                        >{{ dias.label }}</mat-checkbox
                    >
                </div>
                <mat-error *ngIf="diasSemanaValidator === false"
                >Campo não preenchido</mat-error
            >
            </div>

            <mat-form-field fxFlex="1 1 25%">
                <input
                    id="valorPlano"
                    formControlName="valorPlano"
                    matInput
                    placeholder="Valor do plano (Por sessão)"
                    type="text"
                    currencyMask
                    [options]="{
                        prefix: 'R$ ',
                        thousands: '.',
                        decimal: ',',
                        align: 'left'
                    }"
                    [(ngModel)]="form.controls['valorPlano'].value"
                    (blur)="calcularValorTotal()"
                />
                <mat-error *ngIf="hasError('valorPlano', 'required')"
                    >Campo não preenchido</mat-error
                >
            </mat-form-field>
            <div fxLayout="column" fxFlex="1 1 25%">
                    <mat-label>
                        <b>Valor total do plano:</b>
                    </mat-label>
                    <span>{{ form.get('valorTotal').value | currency: 'BRL' }}</span>
            </div>
        </div>
        <div fxLayour="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <button mat-raised-button color="primary" (click)="cancelar()">
                Cancelar
            </button>
            <button mat-raised-button color="primary" (submit)="onSubmit()">
                Salvar
            </button>
        </div>
    </div>
</form>
</div>