.container-form{
  width: 99%;
  height: 99%;
  position: absolute;

}
.form{
  width: 600px;
  height: 500px;
  position: absolute;
}
button{
  height: 40px;
  width: 150px;
  font-size: 1.3em;
}
#errorLogin{
  padding: 30px;
}

