<div class="container">
    <div class="informacoes-contratos-buttons">


    <section class="informacoes-contrato-container">
        <div class="display-flex informacoes-contratos">
            <mat-label><b>Nº do Contrato:</b></mat-label><p>{{ contrato.numero }}</p>

        </div>
        <div class="display-flex informacoes-contratos">
            <mat-label><b>Nome do Paciente:</b></mat-label><p>{{ contrato.nomePaciente }}</p>
        </div>
    </section>

    <section class="buttons">
        <button mat-raised-button color="accent" matTooltip="Registrar entrada e saída" routerLink="registros">Registros de entrada e saída</button>
        <button mat-raised-button color="accent" matTooltip="Gerar desconto no contrato" (click)="gerarDesconto($event)">Gerar desconto</button>
        <button mat-raised-button color="accent"  routerLink="novo-servico" matTooltip="Inserir novo serviço no contrato">Novo Serviço</button>
    </section>
</div>

<section class="table">
    <h3>Serviços Contratados</h3>
    <app-tabela-servicos  [columns]='columns' [data]='data' (editar)="editarPlano($event)" (deletar)="deletarPlano($event)"></app-tabela-servicos>
</section>
     

    <section class="informacoes-total-servicos">
        <div >
            <mat-label><b>Situação Biometria</b></mat-label>
            <p>{{ situacaoBiometria }}</p>
            <br/>
            <button mat-raised-button color="accent" (click)="openSnackBarClockBiometria()" (click)="saveBiometria()" matTooltip="Posicione o dedo indicador sobre a superfície do leitor biométrico e retire após o bipe. Repita o procedimento por três vezes.">{{ buttonBiometria }}</button>
          </div>
          <div >
            <mat-label><b>Total Plano Particular</b></mat-label>
            <p>{{ totalPlanoParticular | currency:'BRL'}}</p>
          </div>
          <div >
              <mat-label><b>Total Plano Mensal</b></mat-label>
              <p>{{ totalPLanoMensal  | currency:'BRL'}}</p>
            </div>
            <div >
                <mat-label><b>Total do Contrato</b></mat-label>
                <p>{{ contrato.valorTotal | currency:'BRL' }}</p>
            </div>        
    </section>
 

