<div fxLayout='row' fxLayoutGap='90px'>
    <div fxLayout='column' >
        <mat-label><b>No:</b></mat-label><p>{{ contrato.numero }}</p>
    </div>
    <div fxLayout='column' class='servicos'>
      <mat-label><b>Nome:</b></mat-label><p>{{ contrato.nomePaciente }}</p>
    </div>
    <div fxLayout='row' class='servicos' fxLayoutAlign='end'>
        <div fxLayout='column' fxLayoutAlign='center end' fxLayoutGap="20px" class='servicos'>
           <button mat-raised-button color="primary" >Registros E/S</button>
         <button mat-raised-button color="primary"  routerLink="novo-servico">Novo Serviço</button>
        </div>
      </div>
</div>
<div>
      <div fxLayout='column' class='table' fxLayoutAlign='center'>
        <h3>Serviços Contratados</h3>
        <app-tabela-servicos  [columns]='columns' [data]='data' (editar)="editarPlano($event)" (deletar)="deletarPlano($event)"></app-tabela-servicos>
      </div>
</div>

<div fxLayout='row' fxLayoutAlign='space-between' class='row3'>
  <div fxLayout='column' fxLayoutGap='10px' fxLayoutAlign= 'center center'>
    <mat-label><b>Situação Biometria</b></mat-label>
    <p>Cadastrado</p>
    <br/>
    <button mat-raised-button color="primary"><mat-icon>refresh</mat-icon>Atualizar Biometria</button>
  </div>
  <div fxLayout='column' fxLayoutAlign='center center'>
    <mat-label><b>Total Plano Particular</b></mat-label>
    <p>{{ totalPlanoParticular | currency:'BRL'}}</p>
  </div>
  <div fxLayout='column' fxLayoutAlign='center center'>
      <mat-label><b>Total Plano Mensal</b></mat-label>
      <p>{{ totalPLanoMensal  | currency:'BRL'}}</p>
    </div>
    <div fxLayout='column' fxLayoutAlign='center center'>
        <mat-label><b>Total do Contrato</b></mat-label>
        <p>{{ contrato.valorTotal | currency:'BRL' }}</p>
    </div>
</div>


