<div class="form-button">
    <section class="form">
        <mat-form-field>
            <input
                matInput
                type="date"
                matTooltip="Filtra os registros pela data"
                [formControl]="formGroup.controls['beforeDate']"
            />
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                type="date"
                matTooltip="Filtra os registros pela data "
                [formControl]="formGroup.controls['afterDate']"
            />
        </mat-form-field>
        <button
        class="btn"
        mat-raised-button
        color="accent"
        matTooltip="Faz a busca dos registros"
        (click)="filterByData()"
    >
        Filtrar
    </button>
    <button
    class="btn"
    mat-raised-button
    color="accent"
    matTooltip="Limpa os filtros das datas"
    (click)="resetDate()"
>
    Limpar
</button>
    </section>
    <section class="export-registro">
        <button
            mat-raised-button
            color="accent"
            matTooltip="Exporta em uma planilha os registros de entrada e saída"
            (click)="exportRegistros()"
        >
            Exportar registros
        </button>
    </section>
</div>

<app-table
    [columns]="columns"
    [data]="data"
    (eventTrocaServico)="trocaServico($event)"
    (eventAusenciaProfissional)= "trocaProfissional($event)"
    matTooltip="Informações dos registros dos pacientes"
    [message]="'Nenhum atendimento encontrado para este contrato.'"
></app-table>

    <td-paging-bar
        #pagingBarPageSize
        [pageSize]="pageSize"
        [total]="totalElements"
        (change)="changePageSize($event)"
        [style.width.%]="100"
    >
        <span hide-xs>Linhas por linha:</span>
        <mat-select [style.width.px]="50" [(value)]="pageSize">
            <mat-option *ngFor="let size of [10, 20, 30]" [value]="size">
                {{ size }}
            </mat-option>
        </mat-select>
        <span
            >{{ pagingBarPageSize.range }}
            <span hide-xs>of {{ pagingBarPageSize.total }}</span></span
        >
    </td-paging-bar>
