.height{
  height: 70%;
}
.import{
  width: 200px;
  height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.error{
  color: red;
}
.successMessage{
  height: 100%;
  position: relative;
}
