<h3 mat-dialog-title class="tc-accent-400">Gerar desconto</h3>

<td-dialog-content>
    <form [formGroup]="formGroup" class="display-flex form">
        <mat-form-field>
            <input
                #valorDesconto
                id="valorDesconto"
                formControlName="valorDesconto"
                matInput
                placeholder="Valor do desconto"
                type="text"
                currencyMask
                [options]="{
                    prefix: 'R$ ',
                    thousands: '.',
                    decimal: ',',
                    align: 'left'
                }"
            />
        </mat-form-field>
    </form>

    <section class="display-flex valor-contrato-container">
        <div class="display-flex valor-contrato">
            <mat-label>Valor atual do contrato</mat-label>
            <span>{{ contrato.valorTotal | currency: "BRL" }}</span>
        </div>

        <div class="display-flex valor-contrato">
            <mat-label>Valor total do contrato após o desconto</mat-label>
            <span>{{
                calculoValorContratoAposDesconto() | currency: "BRL"
            }}</span>
        </div>
    </section>
</td-dialog-content>

<td-dialog-actions class="display-flex">
    <button mat-raised-button (click)="closeModal($event)">
        Fechar
    </button>
    <button mat-flat-button color="accent" (click)="gerarDesconto()">
        Gerar desconto
    </button>
</td-dialog-actions>

