.display-flex {
    display: flex;
}
.valor-contrato-container {
    justify-content: space-around;
    margin-bottom: 20px;
}
.valor-contrato {
    flex-direction: column;
    align-items: center;
}
.form {
    justify-content: center;
    align-items: center;
}
h3 {
    padding: 0px;
    margin: 0px;
}
td-dialog-actions {
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0px;
    padding: 0px;
}
td-dialog-actions button:nth-child(2) {
    margin-left: 20px;
}