<td-data-table
  #dataTable
  [data]="data"
  [clickable]="clickable"
  [columns]="columns"
  (rowClick)="rowClick($event)"
  (sortChange)="sort($event)"
  [sortOrder]="sortOrder"
  [sortBy]="sortBy"
  [clickable]="true"
  >

  <ng-template tdDataTableTemplate="acoes" let-value="value" let-row="row" let-column="column"  >
    <div class="row">
      <a matTooltip="Declarar ausência de um profissional." (click)="ausenciaProfissional(row)"
       *ngIf="row.situacao == 'AUSENCIA_DO_PACIENTE'">
        <mat-icon>person</mat-icon>
      </a>
      <a matTooltip="Fazer troca de serviço." (click)="trocaServico(row)" *ngIf="row.situacao == 'ATENDIMENTO_NORMAL' && row.dataHoraSaida == null">
        <mat-icon>description</mat-icon>
      </a>
    </div>
  </ng-template>

  <ng-template tdDataTableTemplate="valorExecutado" let-value="value" let-row="row" let-column="column">
    <div [ngClass]="{'positivoColor': value > 0,'negativoColor': value < 0, 'neutroColor': value == 0 }">
      {{value | currency: 'BRL'}}
</div>
</ng-template>



  <ng-template
  tdDataTableTemplate="ativo"
  let-value="value"
  let-row="row"
  let-column="column"
>
  <div fxLayout="row">
      <span flex [style.color]="value === true ? 'green' : 'red'">{{
          value === true ? "Ativo" : "Inativo"
      }}</span>
  </div>
</ng-template>
<td mat-footer-cell *matFooterCellDef> 1 </td>
</td-data-table>
<div class="md-padding" *ngIf="!dataTable.hasData"  layout="row" layout-align="center center">
    <h3>{{ message }}</h3>
</div>
