<div class="container-form" fxLayout="column" fxLayoutAlign="center center">
    <div class="form" [class.mat-elevation-z8]="true" fxLayout="column" fxLayoutAlign="center center" >
      <img src="./assets/img/logo.png" class="logo">

      <td-dynamic-forms #form [elements]="elements" (submit)="login()" >
        <ng-template let-element ngFor [ngForOf]="elements">
          <ng-template let-control="control" [tdDynamicFormsError]="element.name">
            <span *ngIf="control.touched || !control.pristine">
              <app-errors
              *ngIf="control.hasError('minlength')"
              text="Tamanho minimo: {{element.minLength}}">
            </app-errors>
              <app-errors
              *ngIf="control.hasError('maxlength')"
              text="Tamanho maximo: {{element.minLength}}">
            </app-errors>
            </span>
          </ng-template>
        </ng-template>
          <button mat-raised-button color="primary" [disabled]="!this.form.valid">Login</button>
          <div id="errorLogin" fxLayout='column' fxLayoutAlign='center center'>
            <app-errors [text]='errorLogin'></app-errors>
          </div>
      </td-dynamic-forms>
      
    </div>
</div>


