<div class="buttonPicker">
    <section>
        <app-year-month-picker matTooltip="Escolha do ano e mês para verificar os relatórios." 
        (ano) = "chosenYearHandler($event)" (mes)="chosenMonthHandler($event)"></app-year-month-picker>
    </section>
    <section>
        <button mat-raised-button color="accent" matTooltip="Exporta relatórios em um planilha." (click)="exportRelatorios()">Exportar relatórios</button>
    </section>
</div>
<div>
    <app-table
    matTooltip="Relatórios dos contratos."
    #dataTable
    message="Nenhum relatório encontrado"
    [data]="data"
    [columns]="columns"
    [style.height.%]="100"
    >
    </app-table >


    <section >
        <td-paging-bar
        class="paging"
        #pagingBarPageSize
        [pageSize]="size"
        [total]="total"
        (change)="changePageSize($event)"
        [style.width.%]="100"
    >
        <span hide-xs>Linhas por linha:</span>
        <mat-select [style.width.px]="50" [(value)]="size">
            <mat-option
                *ngFor="let size of [10, 20, 30]"
                [value]="size"
            >
                {{ size }}
            </mat-option>
        </mat-select>
        <span
            >{{ pagingBarPageSize.range }}
            <span hide-xs
                >of {{ pagingBarPageSize.total }}</span
            ></span
        >
    </td-paging-bar>
    </section>
 
</div>

