.mat-tooltip{
  font-size: 14px !important;
}
.toast-error {
  background-color: #c62828 !important;
}
.toast-warnning {
  background-color: #f9a825 !important;
}
.toast-success {
  background-color: #2e7d32 !important;
}

button{
  width: 250px;
  height: 50px;
}

html,body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  font-size: 18px !important; height: 100%;}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:visited, a:focus, a:active{ text-decoration: none; color: inherit; }


.dialog-title{
  font-size: 20px;
  font-weight: bold;
}

td-dialog-actions button:nth-child(1) {
  background-color: white !important;
}

td-dialog-title {
  font-weight: bold;
}

.positivoColor {
  color: rgb(172, 204, 172) !important;
}
.negativoColor {
  color: #CC0000 !important;
}
.neutroColor{
  color: blue !important;
}
