table {
  width: 100%;
}
.positivoColor {
  background-color: rgba(26, 201, 26, 0.623);
}
.negativoColor {
  background-color:rgba(243, 9, 9, 0.623);
}
.neutroColor{
  background-color: rgba(9, 9, 243, 0.623);
}
