<table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">


  <ng-container [matColumnDef]="column.name" *ngFor="let column of tableMaterialConfig">
    <th mat-header-cell *matHeaderCellDef> {{column.label}} </th>
    <td mat-cell *matCellDef="let element" >
      <ng-container *ngIf="column.type == null">{{ element[column.name] }}</ng-container>
      <ng-container *ngIf="column.type == 'currency'">{{ element[column.name] | currency: 'BRL' }}</ng-container></td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowc(displayedColumns)"
  [ngClass]="{'positivoColor': row.diferenca > 0,'negativoColor': row.diferenca < 0, 'neutroColor': row.diferenca == 0 }"></tr>
</table>
