<div fxLayout="row" fxLayoutGap="30px" class="filter">
  <app-filter (filtro)="filterContrato($event)" placeholder="No. Contrato">
  </app-filter>
  <app-filter
    (filtro)="filterNomePaciente($event)"
    placeholder="Nome do Paciente">
  </app-filter>
<mat-form-field fxLayoutAlign="center">
  <mat-label>Status do contrato</mat-label>
  <mat-select ([value])="statusContrato" (selectionChange)="filterContratoStatusContrato($event)">
    <mat-option *ngFor="let statusContrato of statuContrato" [value]="statusContrato.value">
      {{statusContrato.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
  <div fxLayoutAlign="end center" class="import">
   <app-import-button (click)="openModalImport($event)"></app-import-button>
  </div>
</div>
<div>
  <td-data-table
    #dataTable
    [data]="contratos"
    [columns]="columns"
    [style.height.%]="100"
    (rowClick)="rowClick($event)"
    [clickable]="true"
    (sortChange)="sort($event)"
    [sortOrder]="sortOrder"
    [sortBy]="sortBy">
    <ng-template tdDataTableTemplate="ativo" let-value="value" let-row="row" let-column="column" >
      <div fxLayout="row" >
        <span  flex [style.color]="value === true ? 'green' : 'red'">{{ value === true ? 'Ativo' : 'Inativo'}}</span>
      </div>
    </ng-template>
  </td-data-table>
  <div
    class="md-padding"
    *ngIf="!dataTable.hasData"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <h3>Nenhum contrato encontrado</h3>
  </div>
  <td-paging-bar
    #pagingBarPageSize
    [pageSize]="pageSize"
    [total]="total"
    (change)="changePageSize($event)"
    fxLayoutAlign="center center"
    >
    <span hide-xs>Linhas por linha:</span>
    <mat-select [style.width.px]="50" [(value)]="pageSize">
      <mat-option *ngFor="let size of [10, 20, 30]" [value]="size">
        {{ size }}
      </mat-option>
    </mat-select>
    <span
      >{{ pagingBarPageSize.range }}
      <span hide-xs>of {{ pagingBarPageSize.total }}</span></span
    >
   </td-paging-bar>

</div>
<div fxLayout="column" fxLayoutAlign="center center" >
    <h3>Total de contratos ativos</h3>
    <span>{{ numeroContratosAtivos }}</span>

</div>
