<div class="biometria-container">
    <section class="buttons" *ngIf="hideTable == false">
        <button
            matTooltip="Registrar entrada do paciente em um atendimento, através de sua biometria. Após acionar o botão, posicionar o dedo indicador do paciente sobre a superfície do leitor biométrico até ouvir um bipe. Em seguida selecionar o atendimento desejado."
            mat-flat-button
            color="accent"
            (click)="openClockBiometria()"
            (click)="saveEntrada()"
        >
            Registrar entrada do paciente
        </button>
        <button
            mat-flat-button
            color="accent"
            (click)="openClockBiometria()"
            (click)="saveSaida()"
        >
             Registrar saída do paciente
        </button>
    </section>

    <div *ngIf="hideTable" class="hide-table">
        <h3>
            Planos disponíveis para registro de entrada do paciente
            {{ contrato.nomePaciente }}
        </h3>
        <section class="table">
            <app-table
                [columns]="columns"
                [data]="data"
                [clickable]="true"
                [message]="noDataMessage"
                (eventRowClick)="rowClick($event)"
            >
            </app-table>
        </section>
        <section class="button-cancelar">
            <button mat-flat-button color="accent" (click)="hideTable = false; data = []">
                Cancelar
            </button>
        </section>
    </div>
</div>
