<div class="biometria-container">
    <section class="buttons">
        <button
            mat-flat-button
            color="accent"
            (click)="openClockBiometria()"
            (click)="saveEntrada()"
        >
            Salvar registro entrada
        </button>
        <button
            mat-flat-button
            color="accent"
            (click)="openClockBiometria()"
            (click)="saveSaida()"
        >
            Salvar registro saída
        </button>
    </section>
    <div *ngIf="hideTable" class="hide-table">
        <section class="table">
            <app-table
                [columns]="columns"
                [data]="data"
                [clickable]="true"
                [message]="noDataMessage"
                (eventRowClick)="rowClick($event)"
            >
            </app-table>
        </section>
        <section class="button-cancelar">
            <button mat-flat-button color="primary" (click)="hideTable = false">
                Cancelar
            </button>
        </section>
    </div>
</div>
