.display-flex {
    display: flex;
}
.container-actions {
    justify-content: flex-end;
    align-items: flex-end;
}
.container-actions button:nth-child(2) {
    margin-left: 20px;
}
.form {
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.form mat-form-field {
    width: 40%;
}
h3 {
    padding: 0px;
    margin: 0px;
}